html, body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: 'Segoe UI', sans-serif;
  background-color: #0e1117;
  color: #f1f1f1;
}
  
  .titulo {
    text-align: center;
    font-size: 2.5rem;
    margin-top: 20px;
    color: #00aaff;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
    background-color: #0e1117;
    border-bottom: 1px solid #222;
  }
  
  .logo {
    font-size: 1.4rem;
    font-weight: bold;
    color: #00aaff;
    padding-top: 15px;
  }
  
  .nav-links {
    display: flex;
    list-style: none;
    gap: 30px;
  }
  
  .nav-links a {
    color: #ccc;
    text-decoration: none;
    transition: color 0.3s;
  }
  
  .nav-links a:hover {
    color: #00aaff;
  }
  
  .proyectos-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 30px;
    max-width: 1000px;
    margin: 60px auto;
    padding: 0 20px;
  }
  
  .proyecto-card {
    background-color: #1a1e25;
    padding: 25px;
    border-radius: 10px;
    color: #f1f1f1;
    box-shadow: 0 4px 12px rgba(0,0,0,0.3);
    transition: transform 0.3s, box-shadow 0.3s;
    cursor: pointer;
  }
  
  .proyecto-card h3 {
    color: #00aaff;
    margin-bottom: 10px;
  }
  
  .proyecto-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0,0,0,0.6);
  }
  
  /* Modal */
  .modal {
    display: none;
    position: fixed;
    z-index: 99;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    justify-content: center;
    align-items: center;
  }
  
  .modal-content {
    background-color: #1a1e25;
    color: #f1f1f1;
    padding: 30px;
    border-radius: 12px;
    width: 90%;
    max-width: 600px;
    position: relative;
    box-shadow: 0 8px 20px rgba(0,0,0,0.6);
    animation: fadeIn 0.3s ease;
    text-align: justify;
  }
  
  .modal-content h3 {
    color: #00aaff;
  }
  
  .close-btn {
    position: absolute;
    top: 15px;
    right: 20px;
    font-size: 24px;
    color: #aaa;
    cursor: pointer;
  }
  
  .close-btn:hover {
    color: white;
  }
  
  .modal-link {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 20px;
    background-color: #00aaff;
    color: #fff;
    text-decoration: none;
    border-radius: 8px;
    transition: background 0.3s;
  }
  
  .modal-link:hover {
    background-color: #007acc;
  }
  
  @keyframes fadeIn {
    from { opacity: 0; transform: scale(0.9); }
    to { opacity: 1; transform: scale(1); }
  }
  
  /*Parte abajo*/
footer {
  background-color: #0e1117;
  text-align: center;
  color: #aaa;
  border-top: 1px solid #222;
  padding: 20px;
}

.cv-icon i {
  font-size: 1.4rem;
  color: #00aaff;
  transition: color 0.3s;
}

.cv-icon i:hover {
  color: #ffffff;
}

.wrapper {
  flex: 1;

}